= form_for(object.comments.build, remote: true) do |f|
  = hidden_field_tag :post_id, object.id
  = f.text_area :body, class: 'form-control-mine-comment', placeholder: "Write a comment...", rows: "1", id: "com-form-#{object.id}"
  .clearfix
    .pull-right.comment-button
      = f.submit "Comment", class: 'btn btn-primary'
