.container.clear-top.user-profile
  .row
    .col-md-3
      = gravatar_for(@user, { size: 280 })
      %br
      %h4= @user.full_name
      - if current_user != @user
        - if user_signed_in?
          = render "friendship_button"
      - else
        You have
        = @user.get_all_requests.count
        friendship requests
      #users_stats
        = render "user_stats"
    .col-md-9
      %h2
        User timeline
      %ul
      = render "user_posts"
      = will_paginate @posts, renderer: BootstrapPagination::Rails
