- @feed.each do |post|
  .row
    %li{:id => "post-#{post.id}"}
      = link_to gravatar_for(post.user, size: 50), post.user
      %span.user
        = link_to "#{post.user.name.capitalize} #{post.user.last_name.capitalize}", post.user
      %span.timestamp
        %i.fa.fa-clock-o
        Posted #{time_ago_in_words(post.created_at)} ago.
        - if current_user == post.user
          = link_to "delete", post, method: :delete, |
            data: { confirm: "You sure?" }           |
      %br
      %span.content
        = post.body
      %hr.full-line
      .bottom-links
        %span
          %a(href="#")
            %i.fa.fa-thumbs-o-up
            Like
        %span
          %a(href="#")
            %i.fa.fa-comment-o
            Comment
